body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #7ba4f7, #9576f3)
}

/*IBM logo design*/
.logo {
    width: 58px;
    height: 23px;
    position: relative;
    left: 20px;
    display: inline;
}
.logo-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-top: 5px;
    padding-bottom:10px;
}

/*Line designs for separators*/
.hLine {
    border: 0px;
    border-top: lightgrey;
    margin: 0;
    padding: 0;
    width: 100%;
}
.vertical-line {
    width: 1px;
    height: 32px;
    background-color: lightgrey;
    margin-left: 45px;
    position: absolute; top: 12px; left: 75px;
}
.logo-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: lightgrey;
}

.text-gradient h1 {
    color: linear-gradient(to right, #7ba4f7, #9576f3);
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: IBM Plex sans;
    font-size: 40px;
    font-weight: bold;
}

form {
    font-family: IBM Plex sans;
}

.form-container {
    background: rgb(255, 255, 255);
    width: 530px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px, rgba(rgb(235, 234, 234));
}

input {
    background-color: #fbfafc;
    width: 100%;
    font-size: 15px;
}
input, textarea, select {
    width: 100%;
    box-sizing: border-box;
}

label {
    font-size: 15px;
    font-weight: bold;
}

button {
    color: #f4f4f5; 
    border: none; 
    background-color: #2C72FF; 
    border-radius: 5px; 
    font-size: 1rem; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-left: 40%;
}

button:hover {
     background-color: #1A5BCC; /
}